h1.title {
  display: flex;
  font-size: 20px;

  align-items: center;
  color: rgb(0, 0, 0);
  padding: 10px;

  z-index: 2;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.body{
  background-image: url(https://leupold-pro.ru/img/760755.jpg);
}
.tabs-container {
  display: flex;
  align-items: center;
}
.headertext{
  display: flex;
}
#tabs {
  display: flex;
  padding: 0;
  text-align: center;
  position: relative;
}
.content{
  display: flex;

}
.tabButton {
  display: flex;
  margin: 15px;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;

  color: rgb(0, 0, 0);
  font-size: 20px;
}

.tab {
  display: none;
}

.active {
  background-color: #919191;
}

/* Добавьте стили для новых кнопок во вкладке "Загрузка оценок" */
#uploadButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

#uploadButtons label.btn,
#uploadButtons button.btn {
  margin: 10px;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

#uploadButtons label.btn {
  background-color: #ee5151;
  color: rgb(255, 255, 255);
}
#uploadButtons label.btn:hover {
  background-color: #ff8585;
  transition: 0.5s;
}

#uploadButtons button.btn {
  background-color: #ee5151;
  color: white;
}

#uploadButtons button.btn:hover {
  background-color: #ff8585;
  transition: 0.5s;
}

#csvTable {
  background-color: #f1b9b9;;
  display: none;
  border-collapse: collapse;
  width: 70%;
  margin: 20px auto;
}

#csvTable th, #csvTable td {
  
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#csvTable th {
  background-color: #ffffff;
}

#editTab{
  margin-top: 70px;
  margin-left: 10px;
  position: relative;
}

#existingDataTable {
  position: absolute;
  border-collapse: collapse;
  width: 50%;
  margin-top: 20px;
  margin-top: -1px; /* Отрицательный отступ сверху */
}

#existingDataTable th,
#existingDataTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  background-color: #f1b9b9;;
}

#existingDataTable th {
  background-color: #f2f2f2;
}

#studentInputContainer {
  width: 50%;
  margin-left: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5px;
}

#studentInputContainer input {
  width: 300px; /* Измените значение по вашему усмотрению */
  padding: 12px;
  margin-bottom: 10px;
  border: 2px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

#studentInputContainer label {
  margin-bottom: 5px;
  font-size: 16px;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px;
  background-color: #f1b9b9;;
}

#studentInputContainer input {
  padding: 12px;
  margin-bottom: 10px;
  border: 2px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

#addStudentBtn {
  margin-top: 10px;
  margin-left: 90px;
  padding: 10px;
  background-color: #ee5151;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#addStudentBtn:hover {
  background-color: #ff8585;
  transition: 0.5s;
}

#applyChangesBtn {
  margin-top: 15px;
  margin-left: 73px;
  padding: 10px;
  background-color: #ee5151;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;

}

#downloadBtn {
  margin-top: 15px;
  margin-left: 95px;
  padding: 10px;
  background-color: #ee5151;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

#downloadBtn:hover {
  background-color: #ff8585;
  transition: 0.5s;
}

#applyChangesBtn:hover {
  background-color: #ff8585;
  transition: 0.5s;
}


#statsTable {
  border-collapse: collapse;
  width: 100%;
  margin-top: 70px;
}

#statsTable th, #statsTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#statsTable th {
  background-color: #f2f2f2;
}
#statsTableBody{
  background-color: #ff8585;
}
#statsTableBody tr:hover {
  background-color: #f5f5f5;
}

#myChart{
  display: flex;
  background-color: #fff;
  margin-top: -150px;
}

/* Стили для блока помощи */
/* Стили для контейнера блоков помощи */
/* Стили для контейнера блоков помощи */
.tab11 {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  justify-content: center;
}

/* Стили для блока помощи */
.help-block1,
.help-block2,
.help-block3,
.help-block4 {
  background-color: #fff;
  border: 1px solid #ee5151;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  padding: 30px; /* Внутренний отступ блока */
  width: 100%; /* Задаем ширину блока */
  box-sizing: border-box; /* Учитываем толщину границы и внутренний отступ в размерах блока */
}

.tabButton:hover{
  color: #ee5151;
  transition: 0.5s;
}
.about_the_developer{
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.about{
  font-size: 25px;
 
  flex-direction: column;
  display: flex;
  align-items: left;
  justify-content: center;
  width: 550px;

}
.contacts{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.avatar{

  display: flex;
  height: 400px;
  width: 290px;

}






